{{ if exists "/logfile" }}logfile = {{ getv "/logfile" }}{{ end }}
{{ if exists "/backup/retention" }}backup_retention = {{ getv "/backup/retention" }}{{ end }}
{{ if exists "/check/mountpoint" }}check_mountpoint = {{ getv "/check/mountpoint" }}{{ end }}
{{ if exists "/compress" }}compress = {{ getv "/compress" }}{{ end }}
{{ if exists "/influxdb/database" }}influxdb_database = {{ getv "/influxdb/database" }}{{ end }}
{{ if exists "/influxdb/measurement" }}influxdb_measurement = {{ getv "/influxdb/measurement" }}{{ end }}
{{ if exists "/influxdb/url" }}influxdb_url = {{ getv "/influxdb/url" }}{{ end }}
{{ if exists "/pushgateway/url" }}pushgateway_url = {{ getv "/pushgateway/url" }}{{ end }}
{{ if exists "/long/term/backups" }}long_term_backups = {{ getv "/long/term/backups" }}{{ end }}
{{ if exists "/mysql/user" }}mysql_user = {{ getv "/mysql/user" }}{{ end }}
{{ if exists "/mysql/passwd" }}mysql_passwd = {{ getv "/mysql/passwd" }}{{ end }}
{{ if exists "/mysql/host" }}mysql_host = {{ getv "/mysql/host" }}{{ end }}
{{ if exists "/zabbix/server" }}zabbix_server = {{ getv "/zabbix/server" }}{{ end }}
{{ if exists "/initial/sleep" }}initial_sleep = {{ getv "/initial/sleep" }}{{ end }}
{{ if exists "/notify/zabbix" }}notify_zabbix = {{ getv "/notify/zabbix" }}{{ end }}
